body{
    background-image: url("./bg.jpg");
    background-size: cover;
    background-repeat:no-repeat;    
    background-attachment: fixed;

}

.prowadzacy{
    color: white;
    font-size: 1.2vw;
    background-color: rgb(62, 78, 104);
    border-width: 0px;
    padding: 1vw;
    text-align: center;
}

.prowadzacy:hover{
    background-color: rgba(43, 54, 71, 0.9);
}

.kandydat{
    color: white;
    font-size: 1.2vw;
    background-color: rgb(155, 52, 45);
    border-width: 0px;
    padding: 1vw;
    text-align: center; 
    margin-top: 8vh;
    margin-left: 12vw;
    margin-right: 3vw;
    margin-bottom: 3vh;
}

.kandydat:hover{
    background-color: rgba(109, 37, 32, 0.9);
}

.student{
    color: white;
    font-size: 1.2vw;
    background-color: rgb(42, 110, 23);
    border-width: 0px;
    padding: 1vw;
    text-align: center;
    margin-right: 3vw;
    text-decoration: none;
}

.student:hover{
    background-color: rgba(27, 70, 15, 0.9);
}

.menu{
    border: 5px solid;
    position: absolute;
    height: 30vh;
    width: 50vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-width: 0px;
    color: white;
    padding: 40px;
    font-size: 1.8vw;
    background-color: rgba(0, 0, 0, 0.6)
  }
